.section {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.container {
  width: 600px;
  max-height: 465px;
  overflow: hidden;
  overflow-y: scroll;
  row-gap: 16px;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.box {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  padding-bottom: 40px;
}

.item {
  display: flex;
  align-items: center;
}

.border {
  outline: 5px solid #801ab2;
  border-radius: 25px;
}
