.page {
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.container {
  width: 850px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.active {
  text-decoration: none;
  color: #f2f2f3;
}

.inactive {
  text-decoration: none;
  color: #8585ad;
}

.nav {
  top: 260px;
  right: 700px;
  width: 360px;
  position: absolute;
}

.box {
  row-gap: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.history_container {
  width: 850px;
  padding-top: 50px;
  padding-left: 400px;
  display: flex;
  flex-direction: column;
}

.form {
  row-gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed_container {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.feed_box {
  display: flex;
  column-gap: 60px;
}

.feed_card_box {
  width: 584px;
  height: 980px;
  row-gap: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}

.profile_card_box {
  width: 830px;
  max-height: 980px;
  row-gap: 16px;
  padding-left: 180px;
  padding-right: 16px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
}

.profile_order {
  padding-top: 30px;
  width: 844px;
}
