/* @import url(./vendor/normalize.css);

@font-face {
  font-family: 'IBMPlexSans-Bold';
  font-style: bold;
  font-weight: 700;
  src: url('./fonts/IBMPlexSans-Bold.woff') format('woff'), url('./fonts/IBMPlexSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/IBMPlexSans.woff') format('woff'), url('./fonts/IBMPlexSans.woff2') format('woff2');
}

@font-face {
  font-family: 'Iceland-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/IBMPlexSans.woff') format('woff'), url('./fonts/IBMPlexSans.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrainsMono-Bold';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/JetBrainsMono-Bold.woff') format('woff'), url('./fonts/Iceland-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrainsMono-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/JetBrainsMono-Regular.woff') format('woff'), url('./fonts/JetBrainsMono-Regular.woff2') format('woff2');
} */

body {
  margin: 0;
}
