.section {
  width: 600px;
  height: 912px;
  overflow: hidden;
}

.navBurger {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
}

.container {
  overflow-y: scroll;
}
