.header {
  width: 1920px;
  background-color: #1c1c21;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 340px;
}

.header__box {
  display: flex;
  column-gap: 49px;
}

.header__container {
  display: flex;
  column-gap: 9px;
}
