.header {
  width: 1920px;
  margin-top: 32px;
  padding: 26px 365px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #1c1c21;
  justify-content: space-between;
}

.box {
  display: flex;
  column-gap: 49px;
}

.logo {
  margin-right: 182px;
}
